@charset "UTF-8";
.container-fluid {
  width: 100%;
  position: relative;
}

.container-fluid .banner_img {
  background-image: url("./img/banner.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.container-fluid .banner_img .border_top {
  width: 90%;
  height: 15vh;
  border: 3px solid #aa7374;
  margin: 90px auto;
  border-bottom: 0;
}

.container-fluid .banner_img .border_bottom {
  border: 3px solid #aa7374;
  width: 90%;
  height: 415vh;
  position: absolute;
  top: 38%;
  left: 5%;
  z-index: inherit 1000;
}

.container-fluid .banner_img .main-navigation {
  position: relative;
}

.container-fluid .banner_img .main-navigation .inner_box {
  font-family: "Tangerine", cursive;
  margin: 0;
  font-size: 6vmin;
  position: relative;
  z-index: 2;
  height: 150%;
  width: 50%;
  opacity: 0;
  pointer-events: none;
  left: -500px;
  -webkit-transition: opacity 1s,left 3s;
  transition: opacity 1s,left 3s;
}

.container-fluid .banner_img .main-navigation .inner_box.active {
  opacity: 1;
  pointer-events: all;
  left: 0;
  -webkit-transition: opacity 3s,left 2s;
  transition: opacity 3s,left 2s;
}

.container-fluid .banner_img .main-navigation .inner_box .ul_box {
  background-color: #fffcf9;
  letter-spacing: 3px;
  list-style-type: none;
  position: absolute;
  top: -15.2rem;
  left: 10.3%;
  padding: 13% 90% 13.7% 35%;
  line-height: 100px;
  margin-bottom: 0;
  white-space: nowrap;
  color: #775254;
}

.container-fluid .banner_img .main-navigation .inner_box .ul_box a {
  color: #775254;
}

.container-fluid .banner_img .main-navigation .inner_box .nav_img {
  background-image: url("./img/navbar.jpg");
  background-size: cover;
  position: absolute;
  top: -15.2rem;
  left: 133.7%;
  width: 56%;
  height: 77.8vh;
}

.container-fluid .banner_img .main-navigation .toggle_button {
  position: absolute;
  z-index: 3;
  left: 3.7%;
  top: -75px;
}

.container-fluid .banner_img .main-navigation .toggle_button .circle {
  border: 2.5px solid #aa7374;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 25% 0 0 30%;
}

.container-fluid .banner_img .main-navigation .toggle_button .line {
  border-top: 2.5px solid #aa7374;
  width: 3rem;
  margin: 30% 0;
}

.container-fluid .banner_img img {
  width: 6%;
  position: absolute;
  -webkit-transform: translate(-35%, -70%);
          transform: translate(-35%, -70%);
  right: 0;
}

.container-fluid .banner_img h1 {
  position: absolute;
  top: 65%;
  left: 18%;
  background-color: #f9ebdc;
  width: 20%;
  height: 10vh;
  text-align: center;
  font-family: "Tangerine", cursive;
  color: #775254;
  font-size: 70px;
  padding: 5px 0;
  opacity: 0.9;
}

.container-fluid .banner_img p {
  text-align: center;
  font-family: "Tangerine", cursive;
  color: #775254;
  font-size: 35px;
  letter-spacing: 2px;
  width: 50%;
  position: absolute;
  top: 53%;
  left: 43%;
}

.section1 {
  background-image: url(./img/bg.png);
  background-color: #fcf5f5;
  padding: 0% 0  47% 0;
}

.section1 .container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.section1 .container .top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}

.section1 .container .top .section1_p_bg {
  background-color: #ffebeb;
}

.section1 .container .top .text {
  -webkit-transform: translate(-10%, 8%);
          transform: translate(-10%, 8%);
  text-align: justify;
  letter-spacing: 3px;
  color: #775254;
  font-family: "Tangerine", cursive;
  font-size: 4vmin;
  margin: 12% 10% 15% 8%;
}

.section1 .container .top .text h1 {
  margin-top: 12%;
}

.section1 .container .top .text p {
  margin: 0;
}

.section1 .container .top .box {
  position: relative;
  padding-top: 10%;
  height: 100vh;
}

.section1 .container .top .box .page_img {
  background-image: url("./分頁一-修改完成/img/03.jpg");
  width: 400px;
  height: 500px;
  background-size: cover;
  position: absolute;
  top: 15%;
  left: 7%;
}

.section1 .container .top .box .bg {
  background-color: #f1f1f1;
  width: 400px;
  height: 550px;
  position: absolute;
  top: 20%;
  left: 15%;
}

.section1 .container .bottom {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section1 .container .bottom .box {
  position: absolute;
  height: 100vh;
  left: 90%;
  margin-top: 10%;
}

.section1 .container .bottom .box .bg1 {
  background-color: #f2e9e4;
  width: 320px;
  height: 470px;
  position: absolute;
  top: 5%;
  right: -60%;
  margin-top: 85%;
}

.section1 .container .bottom .box .page_img1 {
  background-image: url("./分頁一-修改完成/img/04.jpg");
  width: 270px;
  height: 390px;
  background-size: cover;
  position: absolute;
  right: 100%;
  top: 10%;
}

.section1 .container .bottom .text {
  position: absolute;
  -webkit-transform: translate(160%, 270%);
          transform: translate(160%, 270%);
  letter-spacing: 2px;
  color: #775254;
  font-family: "Tangerine", cursive;
  font-size: 4vmin;
  top: 60%;
  text-align: justify;
}

.section2 {
  background-image: url(./img/bg.png);
  background-color: #fcf5f5;
  padding: 0 0 0 0;
}

.section2 .container {
  position: relative;
  height: 30vh;
  padding: 0;
}

.section2 .container .you_img {
  background-image: url("./分頁一-修改完成/img/05.jpg");
  width: 100%;
  background-size: cover;
  position: absolute;
}

.section2 .container .you_img .text {
  text-align: center;
  margin: 45px 0;
  letter-spacing: 2px;
  color: #775254;
  font-family: "Tangerine", cursive;
  font-size: 4vmin;
}

.section3 {
  background-image: url(./img/bg.png);
  background-color: #fcf5f5;
  height: 100vh;
}

.section3 .container {
  width: 100%;
  margin: 5% 20%;
  position: relative;
}

.section3 .container .top .text {
  position: absolute;
  -webkit-transform: translate(-12%, 85%);
          transform: translate(-12%, 85%);
  letter-spacing: 2px;
  text-align: justify;
  line-height: 2;
  color: #775254;
  font-family: 'Tangerine', cursive;
  font-size: 4vmin;
  right: 45%;
}

.section3 .container .top .box {
  position: relative;
}

.section3 .container .top .box .page_img {
  background-image: url("./分頁一-修改完成/img/123.jpg");
  width: 400px;
  height: 550px;
  background-size: cover;
  position: absolute;
  top: 100%;
  z-index: 100;
  margin-top: 160px;
  margin-left: 520px;
}

.section3 .container .top .box .bg {
  background-color: #e6edea;
  width: 400px;
  height: 570px;
  position: absolute;
  margin-top: 100px;
  margin-left: 590px;
}

.footer {
  background-color: #fcf5f5;
  background-image: url(./img/bg.png);
  padding-top: 15%;
}

.footer p {
  margin: 0;
  text-align: center;
  letter-spacing: 2px;
  color: #775254;
  font-family: "Tangerine", cursive;
  font-size: 4vmin;
}
/*# sourceMappingURL=分頁一.css.map */