.container-fluid {
  width: 100%;
  position: relative;
}

.container-fluid .banner_img {
  background-image: url("./img/banner.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 375px) {
  .container-fluid .banner_img {
    width: 100%;
    height: 25vh;
  }
}

.container-fluid .banner_img .border_top {
  width: 90%;
  height: 15vh;
  border: 3px solid #aa7374;
  margin: 90px auto;
  border-bottom: 0;
}

@media screen and (max-width: 375px) {
  .container-fluid .banner_img .border_top {
    display: none;
  }
}

.container-fluid .banner_img .border_bottom {
  border: 3px solid #aa7374;
  width: 90%;
  height: 415vh;
  position: absolute;
  top: 38%;
  left: 5%;
  z-index: inherit 1000;
}

@media screen and (max-width: 375px) {
  .container-fluid .banner_img .border_bottom {
    display: none;
  }
}

.container-fluid .banner_img .border_bottom::before {
  content: "";
  display: block;
  background-image: url(./img/top.jpg);
  width: 2.5%;
  height: 5vh;
  position: absolute;
  right: 0;
  bottom: 0;
}

.container-fluid .banner_img .main-navigation {
  position: relative;
}

.container-fluid .banner_img .main-navigation .inner_box {
  font-family: "Tangerine", cursive;
  margin: 0;
  font-size: 6vmin;
  position: relative;
  z-index: 2;
  height: 150%;
  width: 50%;
  opacity: 0;
  pointer-events: none;
  left: -500px;
  -webkit-transition: opacity 1s,left 3s;
  transition: opacity 1s,left 3s;
}

.container-fluid .banner_img .main-navigation .inner_box.active {
  opacity: 1;
  pointer-events: all;
  left: 0;
  -webkit-transition: opacity 3s,left 2s;
  transition: opacity 3s,left 2s;
}

@media screen and (max-width: 375px) {
  .container-fluid .banner_img .main-navigation .inner_box.active {
    left: unset;
    top: 0;
  }
}

.container-fluid .banner_img .main-navigation .inner_box .ul_box {
  background-color: #fffcf9;
  letter-spacing: 3px;
  list-style-type: none;
  position: absolute;
  top: -15.2rem;
  left: 10.3%;
  padding: 13% 90% 5.5% 35%;
  line-height: 100px;
  white-space: nowrap;
  color: #775254;
}

@media screen and (max-width: 375px) {
  .container-fluid .banner_img .main-navigation .inner_box .ul_box {
    background-color: unset;
    background-image: url("./img/navbar.jpg");
    background-size: cover;
    width: 205%;
    height: 70vh;
    -webkit-transform: translate(-5%, 30.5%);
            transform: translate(-5%, 30.5%);
  }
}

.container-fluid .banner_img .main-navigation .inner_box .ul_box a {
  color: #775254;
}

@media screen and (max-width: 375px) {
  .container-fluid .banner_img .main-navigation .inner_box .ul_box a {
    font-size: 28px;
    line-height: 1px;
    letter-spacing: 5px;
  }
}

.container-fluid .banner_img .main-navigation .inner_box .nav_img {
  background-image: url("./img/navbar.jpg");
  background-size: cover;
  position: absolute;
  top: -15.2rem;
  left: 133.7%;
  width: 56%;
  height: 80.2vh;
}

@media screen and (max-width: 375px) {
  .container-fluid .banner_img .main-navigation .inner_box .nav_img {
    display: none;
  }
}

.container-fluid .banner_img .main-navigation .toggle_button {
  position: absolute;
  z-index: 3;
  left: 3.7%;
  top: -75px;
}

@media screen and (max-width: 375px) {
  .container-fluid .banner_img .main-navigation .toggle_button {
    top: 50%;
  }
}

.container-fluid .banner_img .main-navigation .toggle_button .circle {
  border: 2.5px solid #aa7374;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 25% 0 0 30%;
}

@media screen and (max-width: 375px) {
  .container-fluid .banner_img .main-navigation .toggle_button .circle {
    display: none;
  }
}

.container-fluid .banner_img .main-navigation .toggle_button .line {
  border-top: 2.5px solid #aa7374;
  width: 3rem;
  margin: 30% 0;
}

.container-fluid .banner_img img {
  width: 6%;
  position: absolute;
  -webkit-transform: translate(-35%, -70%);
          transform: translate(-35%, -70%);
  right: 0;
}

.container-fluid .banner_img h1 {
  position: absolute;
  top: 65%;
  left: 18%;
  background-color: #f9ebdc;
  width: 20%;
  height: 10vh;
  text-align: center;
  font-family: "Tangerine", cursive;
  color: #775254;
  font-size: 70px;
  padding: 5px 0;
  opacity: 0.9;
}

@media screen and (max-width: 375px) {
  .container-fluid .banner_img h1 {
    display: unset;
    font-size: 35px;
    width: 70%;
    height: 5vh;
    top: 45%;
    left: 30%;
    background-color: rgba(255, 255, 255, 0.623);
  }
}

.container-fluid .banner_img p {
  text-align: center;
  font-family: "Tangerine", cursive;
  color: #775254;
  font-size: 35px;
  letter-spacing: 2px;
  width: 50%;
  position: absolute;
  top: 53%;
  left: 43%;
}

@media screen and (max-width: 375px) {
  .container-fluid .banner_img p {
    display: none;
  }
}

.section1 {
  background-image: url(./img/bg.png);
  background-color: #fcf5f5;
  padding: 0% 0  47% 0;
}

.section1 .container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.section1 .container .top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
}

.section1 .container .top .section1_p_bg {
  background-color: #ffebeb;
}

@media screen and (max-width: 375px) {
  .section1 .container .top .section1_p_bg {
    background-color: unset;
  }
}

.section1 .container .top .text {
  -webkit-transform: translate(-26%, 130%);
          transform: translate(-26%, 130%);
  text-align: justify;
  letter-spacing: 2px;
  color: #775254;
  font-family: "Tangerine", cursive;
  font-size: 30px;
}

@media screen and (max-width: 375px) {
  .section1 .container .top .text {
    font-size: 20px;
    -webkit-transform: translate(-7%, 240%);
            transform: translate(-7%, 240%);
  }
}

.section1 .container .top .text h1 {
  text-align: center;
}

.section1 .container .top .text p {
  text-align: center;
}

.section1 .container .top .box {
  position: relative;
  padding-top: 10%;
  height: 100vh;
}

.section1 .container .top .box .page_img {
  background-image: url("./img/03.jpg");
  width: 320px;
  height: 470px;
  background-size: cover;
  position: absolute;
  top: 80%;
  left: 7%;
}

@media screen and (max-width: 375px) {
  .section1 .container .top .box .page_img {
    width: 250px;
    height: 300px;
    -webkit-transform: translate(6%, -80%);
            transform: translate(6%, -80%);
  }
}

.section1 .container .top .box .bg {
  background-color: #f1f1f1;
  width: 320px;
  height: 470px;
  position: absolute;
  top: 85.5%;
  left: 15%;
}

@media screen and (max-width: 375px) {
  .section1 .container .top .box .bg {
    display: none;
  }
}

.section1 .container .bottom {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section1 .container .bottom .box {
  position: absolute;
  height: 100vh;
  left: 90%;
  margin-top: 10%;
}

.section1 .container .bottom .box .bg1 {
  background-color: #f2e9e4;
  width: 320px;
  height: 470px;
  position: absolute;
  top: 5%;
  right: -60%;
  margin-top: 85%;
}

@media screen and (max-width: 375px) {
  .section1 .container .bottom .box .bg1 {
    display: none;
  }
}

.section1 .container .bottom .box .page_img1 {
  background-image: url("./img/04.jpg");
  width: 320px;
  height: 470px;
  background-size: cover;
  position: absolute;
  -webkit-transform: translate(-80%, 0%);
          transform: translate(-80%, 0%);
}

@media screen and (max-width: 375px) {
  .section1 .container .bottom .box .page_img1 {
    width: 250px;
    height: 300px;
    -webkit-transform: translate(-110%, 0);
            transform: translate(-110%, 0);
  }
}

.section1 .container .bottom .text {
  position: absolute;
  -webkit-transform: translate(49%, 350%);
          transform: translate(49%, 350%);
  letter-spacing: 2px;
  color: #775254;
  font-family: "Tangerine", cursive;
  font-size: 30px;
  top: 60%;
  text-align: center;
  background-color: #ffebeb;
  width: 85%;
}

@media screen and (max-width: 375px) {
  .section1 .container .bottom .text {
    font-size: 20px;
    -webkit-transform: translate(10%, 440%);
            transform: translate(10%, 440%);
    background-color: unset;
  }
}

.section2 {
  background-image: url(./img/bg.png);
  background-color: #fcf5f5;
  padding: 0 0 0 0;
}

.section2 .container {
  position: relative;
  height: 30vh;
  padding: 0;
}

.section2 .container .you_img {
  background-image: url("./img/05.jpg");
  width: 100%;
  background-size: cover;
  position: absolute;
}

@media screen and (max-width: 375px) {
  .section2 .container .you_img {
    -webkit-transform: translate(-7%, 90%);
            transform: translate(-7%, 90%);
  }
}

.section2 .container .you_img .text {
  text-align: center;
  margin: 45px 0;
  letter-spacing: 2px;
  color: #775254;
  font-family: "Tangerine", cursive;
  font-size: 4vmin;
}

@media screen and (max-width: 375px) {
  .section2 .container .you_img .text {
    font-size: 18px;
    -webkit-transform: translate(8%, -5%);
            transform: translate(8%, -5%);
    background-color: unset;
  }
}

.section3 {
  background-image: url(./img/bg.png);
  background-color: #fcf5f5;
  height: 100vh;
}

.section3 .container {
  width: 100%;
  margin: 5% 20%;
  position: relative;
}

.section3 .container .top .text {
  position: absolute;
  -webkit-transform: translate(-12%, 125%);
          transform: translate(-12%, 125%);
  letter-spacing: 2px;
  text-align: justify;
  line-height: 2;
  color: #775254;
  font-family: 'Tangerine', cursive;
  font-size: 30px;
  right: 45%;
  background-color: #ffebeb;
  width: 71%;
}

@media screen and (max-width: 375px) {
  .section3 .container .top .text {
    font-size: 20px;
    background-color: unset;
    -webkit-transform: translate(50%, 250%);
            transform: translate(50%, 250%);
    line-height: unset;
    letter-spacing: unset;
  }
  .section3 .container .top .text p {
    font-size: 20px;
  }
}

.section3 .container .top .box {
  position: relative;
}

.section3 .container .top .box .page_img {
  background-image: url("./img/123.jpg");
  width: 320px;
  height: 470px;
  background-size: cover;
  position: absolute;
  top: 100%;
  z-index: 100;
  margin-top: 230px;
  margin-left: 520px;
}

@media screen and (max-width: 375px) {
  .section3 .container .top .box .page_img {
    -webkit-transform: translate(-10%, 80%);
            transform: translate(-10%, 80%);
    margin: 0;
    width: 250px;
    height: 320px;
  }
}

.section3 .container .top .box .bg {
  background-color: #e6edea;
  width: 320px;
  height: 470px;
  position: absolute;
  margin-top: 150px;
  margin-left: 590px;
}

@media screen and (max-width: 375px) {
  .section3 .container .top .box .bg {
    display: none;
  }
}

.footer {
  background-color: #fcf5f5;
  background-image: url(./img/bg.png);
  padding-top: 15%;
}

.footer p {
  margin: 0;
  text-align: justify;
  letter-spacing: 2px;
  color: #775254;
  font-family: "Tangerine", cursive;
  font-size: 30px;
}

@media screen and (max-width: 375px) {
  .footer p {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    font-size: 16px;
  }
}
/*# sourceMappingURL=分頁一.css.map */