.container-fluid {
  width: 100%;
  position: relative;
}

.container-fluid .banner_img {
  background-image: url("./img/08-banner/product-banner.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.container-fluid .banner_img .border_top {
  width: 90%;
  height: 15vh;
  border: 3px solid #aa7374;
  margin: 90px auto;
  border-bottom: 0;
  position: absolute;
  left: 5%;
}

.container-fluid .banner_img .border_bottom {
  border: 3px solid #aa7374;
  width: 90%;
  height: 52vh;
  position: absolute;
  top: 38%;
  left: 5%;
  z-index: 1;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 30%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
/* 選單白底 寫relative 吃東西的女生就會出來 but banner的swiper會被推下去*/
.container-fluid .banner_img .main-navigation {
  position: absolute;
  top: calc(15vh + 180px);
  left: 30px;
}
.container-fluid .banner_img .main-navigation .inner_box {
  font-family: "Tangerine", cursive;
  margin: 0;
  font-size: 6vmin;
  position: relative;
  z-index: 2;
  height: 150%;
  width: 60%;
  opacity: 0;
  pointer-events: none;
  left: -500px;
  transition: opacity 1s, left 3s;
}

.container-fluid .banner_img .main-navigation .inner_box.active {
  opacity: 1;
  pointer-events: all;
  left: 0;
  -webkit-transition: opacity 3s, left 2s;
  transition: opacity 3s, left 2s;
}

.container-fluid .banner_img .main-navigation .inner_box .ul_box {
  background-color: #fffcf8;
  letter-spacing: 1px;
  list-style-type: none;
  position: absolute;
  top: -14.5rem;
  transform: translate(8.5%, 0);
  /* padding: 40% 90% 13.7% 35%; */
  line-height: 1px;
  /* margin-bottom: 0; */
  white-space: nowrap;
  color: #775254;
}
.container-fluid .banner_img .main-navigation .inner_box .ul_box li {
  height: 16vh;

  padding: 60px 250px;
}
.container-fluid .banner_img .main-navigation .inner_box .ul_box a {
  color: #775254;
  font-family: "Tangerine", cursive;
}

/* 吃蛋糕的女生圖片 */
.container-fluid .banner_img .main-navigation .inner_box .nav_img {
  background-image: url("./img/navbar.jpg");
  background-size: cover;
  position: absolute;
  top: -15.2rem;
  left: 133.7%;
}
.container-fluid .banner_img .main-navigation .toggle_button {
  position: absolute;
  z-index: 3;

  transform: translate(95%, -80%);
}

.container-fluid .banner_img .main-navigation .toggle_button .circle {
  border: 2.5px solid #aa7374;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 25% 0 0 30%;
}

.container-fluid .banner_img .main-navigation .toggle_button .line {
  border-top: 2.5px solid #aa7374;
  width: 3rem;
  margin: 30% 0;
}
.container-fluid .logo {
  position: absolute;
  top: calc(15vh + 180px);
  right: 20px;
}
.container-fluid .logo img {
  position: absolute;
  /* transform: translate(-110%, -65%); */
  z-index: 3;

  height: 140px;
}
.pproduct-Separate{
  margin: 10% 0;
}

.container-fluid .banner_img h1 {
  position: absolute;
  top: 17%;
  left: 66%;
  background-color: #f9ebdc;
  width: 15%;
  height: 8vh;
  text-align: center;
  font-family: "Tangerine", cursive;
  color: #775254;
  font-size: 4rem;
  padding: 5px 0;
}

/* 熱銷商品 */
.img1 {
  width: 70%;
  border-radius: 50%;
  border: #775254 2px solid;
  /* transform: translate(22%,-5%); */
}

.swiper-pagination {
  transform: translate(-3%, -600%);
}

html,
body {
  position: relative;
  height: 60%;
}
body {
  background: #fcf5f5;
  font-size: 15px;
  color: #000;
  margin: 0;
  padding: 0;
  background-image: url("./img/BG.jpg");
}
.container {
  margin-bottom: 150px;
}
.swiper-container {
  width: 80%;
  margin-top: 3em;
  
}

.swiper-container-banner {
  width: calc(90% - 100px);
  padding: 10px 0 80px 0;
  margin-top: 5px;
}

.swiper-container-banner .swiper-slide {
  display: flex;
  align-items: center;
  margin-top: 20%;
  /* flex-direction: column; */
}
.swiper-container .swiper-slide {
  flex-direction: column;
  
}

:root {
  --swiper-theme-color: #17a2b8;
}

.product {
  position: relative;
}
.img {
  /* transform: translate(60%, 0); */
}


.border0 {
  width: 300px;
  height: 20px;
  margin: auto;
  padding: 10px 20px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  top: 20px;
  margin-bottom: 138px;
}
.title {
  font-size: 50px;
  font-family: "Tangerine", cursive;
  color: #775254;
  margin: auto;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  display: inline-block;
}
.swiper-button-prev {
  transform: translate(110%, 0);
}
.line_12::before {
  content: "";
  display: block;
  height: 3px;
  background-color: #f7d7e4;
  position: absolute;
  left: 15%;
  margin-top: -9%; 
  z-index: 1;
  transition: 2s;
  border-style: Solid;
  border-color: #f7d7e4;
  border-width: 2px;
  width: 70%;
}

.line_01::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #f7d7e4;
  position: absolute;
  left: 25%;
  margin-top: -9%; 
  z-index: 1;
  transition: 2s;
  border-style: Solid;
  border-color: #f7d7e4;
  border-width: 2px;
  width: 50%;
}

.line_0::before {
  content: "";
  display: block;
  height: 3px;
  background-color: #b1d9e0;
  position: absolute;
  left: 8%;
  margin-top: -9%; 
  z-index: 1;
  transition: 2s;
  border-style: Solid;
  border-color: #b1d9e0;
  border-width: 2px;
  width: 85%;
}

.line_4::before {
  content: "";
  display: block;
  height: 3px;
  background-color: #b1d9e0;
  position: absolute;
  left: 25%;
  margin-top: -9%; 
  z-index: 1;
  transition: 2s;
  border-style: Solid;
  border-color: #b1d9e0;
  border-width: 2px;
  width: 50%;
}

.line_5::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #b1d9e0;
  position: absolute;
  left: 30%;
  margin-top: -9%; 
  z-index: 1;
  transition: 2s;
  border-style: Solid;
  border-color: #b1d9e0;
  border-width: 2px;
  width: 40%;
}

.line_6::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #b1d9e0;
  position: absolute;
  left: 37%;
  margin-top: -9%; 
  z-index: 1;
  transition: 2s;
  border-style: Solid;
  border-color: #b1d9e0;
  border-width: 2px;
  width: 25%;
}

.container-fluid1 {
  background-image: url("./img/08-banner/product-footer.jpg");
  height: 30vh;
  position: relative;
  margin-bottom: 0;
}

.container-fluid1 p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 100%);
  font-family: "Tangerine", cursive;
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
  color: #775254;
}

/* 互動視窗 */

.d-none {
  display: none;
}
.product_modal{
  margin:auto;
}

.product_modal_btn {
  text-align: center;
  margin-top: 25px;
  font-family: "Tangerine", cursive;
  font-weight: bold;
  color: #775254;
  font-size:30px;
}

.product_modal_body {
  width:80vh;
  height: 50vh;
  border: 7px outset #aa7374;
  background-color: #fcf5f5;
  letter-spacing: 1.8px;
  position: fixed;
  left:35%; 
  top:20%;
  z-index:20;
  opacity: 1;
  animation: drop-body 0.5s linear;
}

.product_modal_mask {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  opacity: 1;
  animation: drop-mask 0.5s linear;
}

h2 {
  display: inline-block;
  margin-left: 40%;
  margin-bottom: 0;
  font-size: 35px;
  font-family: "Tangerine", cursive;
  font-weight: bold;
  color: #775254;
}

.body_m {
  display: flex;
  width: 68vh;
}

.body_m img {
  margin-left: 20px;
  margin-top: -35px;
}

.body_r_b {
  display: flex;
  margin-top: 50px;
}

.body_r_b img {
  margin-left: 50px;
  width: 100px;
  height: 30px;
  margin-top: 0px;
}

.thing_all {
  margin-top: 30px;
  margin-left: 400px;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-family: "Tangerine", cursive;
  font-weight: bold;
  line-height: 1.5;
  color: #775254;
  position: fixed;
}

button {
  margin-left: 40%;
  margin-bottom: 0;
  font-size: 35px;
  font-family: "Tangerine", cursive;
  font-weight: bold;
  color: #775254;
  padding: 10px 30px;
  background-color: #f7d7e4;
}

.thing_1::before {
  content: "";
  width:10px;
  height: 10px;
  background-color: #775254;
  border-radius: 50%;
  position: absolute;
  position: fixed;
  left: 55%;
  top: 30%;
}

.thing_2::before {
  content: "";
  width:10px;
  height: 10px;
  background-color: #775254;
  border-radius: 50%;
  position: absolute;
  position: fixed;
  left: 55%;
  top: 33%;
}

.thing_3::before {
  content: "";
  width:10px;
  height: 10px;
  background-color: #775254;
  border-radius: 50%;
  position: absolute;
  position: fixed;
  left: 55%;
  top: 36%;
}

.active {
  display: block !important;
  
}

@keyframes drop-mask {
  0% {
    opacity: 0;
  }
}

@keyframes drop-body {
  0% {
    opacity: 0;
    top: calc(50vh - 275px);
  }
}
