$yellow: #f9ebdc;
$blue: #bfd8d2;
$coffee:#775254;
$bg:#fcf5f5;
$border:#aa7374;
.container-fluid {
  width: 100%;
  position: relative;
  .banner_img {
    background-image: url("./img/01.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    @media screen and (max-width:375px) {
      width:100%;
      height:25vh;
    }
    .border_top {
      width: 90%;
      height: 15vh;
      border: 3px solid $border;
      margin: 90px auto;
      border-bottom: 0;
      @media screen and (max-width:375px) {
        display: none;
      }
    }
    .border_bottom {
      border: 3px solid $border;
      width: 90%;
      height: 340vh;
      position: absolute;
      top: 38%;
      left: 5%;
      z-index: 1;
      @media screen and (max-width:375px) {
        display: none;
      }
    }
    .main-navigation {
      position: relative;
      // width: 100%;
      // height:80vh ;
      .inner_box {
        font-family: "Tangerine", cursive;
        margin: 0;
        font-size: 6vmin;
        position: relative;
        z-index: 2;
        height: 150%;
        width: 50%;
        // display: none;
        opacity: 0;
        pointer-events: none;
        left: -500px;
        transition:opacity 1s,left 3s;
        padding: 15% -25% 3% 55%;
        &.active {
          // display: block;
          opacity: 1;
          pointer-events: all;
          left: 0;
          transition:opacity 3s,left 2s;
          // width:100%;
          // height: 80vh;
          @media screen and (max-width: 375px) {
            left: unset;
            top: 0;
          }
        }
        .ul_box {
          background-color: #fffcf8;
          letter-spacing: 3px;
          list-style-type: none;
          position: absolute;
          top: -15.2rem;
          left: 10.3%;
          padding: 13% 90% 13.7% 35%;
          line-height: 100px;
          margin-bottom: 0;
          white-space: nowrap;
          color: $coffee;
          // width:100%;
          // height: 80vh;
          @media screen and (max-width: 375px) {
            background-color: unset;
            background-image: url("./img/navbar.jpg");
            background-size: cover;
            width:205%;
            height: 70vh;
            transform: translate(-5%,35.5%);
            line-height: 100px;
          }
          a{
            color:$coffee ;
            // @media screen and (max-width:375px){
            //   font-size: 30px;
            //   line-height: 100px;
            //   letter-spacing: 5px;
            // }
          }
        }
        .nav_img {
          background-image: url("./img/navbar.jpg");
          background-size: cover;
          position: absolute;
          top: -15.2rem;
          left: 133.7%;
          width: 56%;
          height:88.2vh;
          @media screen and (max-width:375px){
            display: none;
          }
        }
      }
      .toggle_button {
        position: absolute;
        z-index: 3;
        left: 3.7%;
        top: -75px;
        @media screen and (max-width:375px) {
          top:5px;
        }
        .circle {
          border: 2.5px solid #aa7374;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          margin: 25% 0 0 30%;
          @media screen and (max-width:375px) {
            display: none;
          }
        }

        .line {
          border-top: 2.5px solid #aa7374;
          width: 3rem;
          margin: 30% 0;
        }
      }
    }
    img {
      width: 6%;
      // height: 500px;
      position: absolute;
      transform: translate(-35%, -395%);
      right: 0;
      @media screen and (max-width:575px) {
        display:none;
      }
    }
    h1 {
      position: absolute;
      top: 41%;
      left: 40%;
      transform: translate(-50%,-50%);
      background-color:$yellow;
      width: 16%;
      height: 10vh;
      text-align: center;
      font-family: "Tangerine", cursive;
      color: $coffee;
      font-size: 70px;
      @media screen and (max-width:375px) {
        display: unset;
        font-size: 35px;
        width: 70%;
        height: 5vh;
        // padding: 0 5px;
        top: 40%;
        left: 30%;
        background-color:rgba(255, 255, 255, 0.623);
      }
    }
  }
}
.section {
  background-image: url("./img/06.jpg");
  background-color: $bg;
  .container {
    // background-color: $bg;
    height: 80vh;
    // background-image: url("./img/06.jpg");
    position: relative;
    .img_box {
      .photo {
        background-image: url(./img/02.jpg);
        background-size: cover;
        width: 300px;
        height: 400px;
        position: absolute;
        transform: translate(30%, 40%);
        z-index:10;
        @media screen and (max-width: 375px) {
          // display: unset;
          transform: unset;
          width: 200px;
          height: 300px;
          margin:80px 85px ;
          position: unset;
         
        }
      }
      .bg {
        background-color: $blue;
        width: 300px;
        height: 400px;
        transform: translate(10%, 50%);
        @media screen and (max-width: 375px) {
          display: none;
        }
      }
    }
    .content_box {
      position: absolute;
      width: 100%;
      right: 0;
      .text {
        font-family: "Tangerine", cursive;
        color: #775254;
        font-size: 30px;
        letter-spacing: 2px;
        transform: translate(33.5%, 85%);
        text-align: justify;
        background-color:#ffebeb;
        padding: 10px 0 10px 60px;
        @media screen and (max-width: 375px) {
          display: unset;
          background-color: unset;
          font-size: 20px;
          

         
          p{
            display: none;
          }
        }
        
        h1 {
          color: 40px;
          @media screen and (max-width: 375px) {
            // background-color: unset;
            font-size: 20px;
            margin-top:450px ;
          }
        }
      }
      .btn {
        transform: translate(730%, 580%);
        color: white;
        font-family: "Tangerine", cursive;
        font-size: 25px;
        @media screen and (max-width: 375px) {
          // display: unset;
          transform: unset;
          margin:50px 0 0 115px ;
        }
      }
      #exampleModalLong1 {
        font-family: "Tangerine", cursive;
        color: #775254;
        font-size: 28px;
        letter-spacing: 2px;
        text-align: justify;
        @media screen and (max-width: 375px) {
          // background-color: unset;
          font-size: 20px;
          width:44%;
        }
        #exampleModalLongTitle {
          font-size: 35px;
          @media screen and (max-width: 375px) {
            font-size: 25px;
          }
        }
      }
    }
  }
}
.section1 {
  background-color: $bg;
  background-image: url("./img/06.jpg");
  .container {
    position: relative;
    height: 80vh;
    .img_box {
      transform: translate(-75%, 0%);
      @media screen and (max-width: 375px) {
        transform: unset;
        width:100%;
        display: flex;
        justify-content: center;
      }
      .photo {
        background-image: url("./img/03.jpg");
        width: 300px;
        height: 400px;
        position: absolute;
        transform: translate(23.5%, 40%);
        z-index: 100;
        background-size: cover;
        // background-position: center;
        @media screen and (max-width: 375px) {
          // display: unset;
          transform: unset;
          width: 200px;
          height: 300px;
        }
      }
      .bg {
        background-color: $blue;
        width: 300px;
        height: 400px;
        transform: translate(45%, 50%);
        @media screen and (max-width: 375px) {
          display: none;
        }
      }
    }
    .content_box {
      position: relative;;
      // width: 100%;
      left: 0;
      .text {
        font-family: "Tangerine", cursive;
        color: #775254;
        font-size: 35px;
        letter-spacing: 2px;
        transform: translate(-40%, 80%);
        text-align: justify;
        background-color:#ffebeb;
        padding: 10px 0 10px 550px;
        @media screen and (max-width: 375px) {
          // display: unset;
          transform: unset;
          background-color: unset;
          font-size: 20px;
          padding:0 5px;
          margin-top:100% ;
        }
      }
      .btn {
        transform: translate(70%, 580%);
        color: white;
        font-family: "Tangerine", cursive;
        font-size: 25px;
        @media screen and (max-width: 375px) {
          transform: unset;
          margin:50px 0 0 115px  ;

        }
      }
      #exampleModalLong2 {
        font-family: "Tangerine", cursive;
        color: #775254;
        font-size: 28px;
        letter-spacing: 2px;
        text-align: justify;
        @media screen and (max-width: 375px) {
          // background-color: unset;
          font-size: 20px;
          // width:48%;
        }
      }
    }
  }
}
.section2 {
  background-color: $bg;
  background-image: url("./img/06.jpg");
  .container {
    background-color: $bg;
    background-image: url("./img/06.jpg");
    height: 80vh;
    position: relative;
    .img_box {
      .photo {
        background-image: url(./img/04.jpg);
        background-size: cover;
        // background-position: center;
        width: 300px;
        height: 400px;
        position: absolute;
        transform: translate(30%, 40%);
        z-index: 100;
        @media screen and (max-width: 375px) {
          // display: unset;
          width: 200px;
          height: 300px;
          transform: unset;
          margin-left:80px ;
          
        }
      }
      .bg {
        background-color: $blue;
        width: 300px;
        height: 400px;
        transform: translate(10%, 50%);
        @media screen and (max-width: 375px) {
          display: none;
        }
      }
    }
    .content_box {
      position: relative;
      width: 100%;
      right: 0;
      .text {
        font-family: "Tangerine", cursive;
        color: #775254;
        font-size: 30px;
        letter-spacing: 2px;
        transform: translate(33%, 80%);
        text-align: justify;
        background-color:#ffebeb;
        padding: 10px 0 10px 40px;
        @media screen and (max-width: 375px) {
          background-color: unset;
          transform: unset;
          padding: 0;
          p{
            display: none;
          }
        }
        h1 {
          color: 40px;
          @media screen and (max-width: 375px) {
            font-size: 25px;
            
            position: absolute;
            top:370px;
            left:60px;
            
          }
        }
      }
      .btn {
        transform: translate(570%, 560%);
        color: white;
        font-family: "Tangerine", cursive;
        font-size: 25px;
        @media screen and (max-width: 375px) {
          transform: unset;
          position: absolute;
          top:490px;
          left:120px;
        }
      }
      #exampleModalLong3 {
        font-family: "Tangerine", cursive;
        color: #775254;
        font-size: 28px;
        letter-spacing: 2px;
        text-align: justify;
        @media screen and (max-width: 375px) {
          // background-color: unset;
          font-size: 20px;
          width:48%;
        }
      }
    }
  }
}
.container-fluid1 {
  background-image: url(./img/05.jpg);
  position: relative;
  width: 100%;
  height: 52vh;
  @media screen and (max-width: 375px) {
    background-image: none;
  }
  p {
    margin: 0;
    font-family: "Tangerine", cursive;
    font-size: 25px;
    color: $coffee;
    text-align: center;
    letter-spacing: 1px;
    position: absolute;
    transform: translate(100%, 540%);
    @media screen and (max-width: 375px) {
      transform: unset;
      text-align: justify;
      padding: 5px 5px;
      background-image: url("./img/06.jpg");
    }
  }
}
