.container-fluid {
  width: 100%;
  position: relative;
}

.container-fluid .banner_img {
  background-image: url("./img/01.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.container-fluid .banner_img .border_top {
  width: 90%;
  height: 15vh;
  border: 3px solid #aa7374;
  margin: 90px auto;
  border-bottom: 0;
}

.container-fluid .banner_img .border_bottom {
  border: 3px solid #aa7374;
  width: 90%;
  height: 341vh;
  position: absolute;
  top: 39%;
  left: 5%;
  z-index: 100;
}

.container-fluid .banner_img .main-navigation {
  position: relative;
}

.container-fluid .banner_img .main-navigation .inner_box {
  font-family: "Tangerine", cursive;
  margin: 0;
  font-size: 6vmin;
  position: relative;
  z-index: 2;
  height: 150%;
  width: 50%;
  opacity: 0;
  pointer-events: none;
  left: -500px;
  -webkit-transition: 1s, left 2s;
  transition: 1s, left 2s;
}

.container-fluid .banner_img .main-navigation .inner_box.active {
  opacity: 1;
  pointer-events: all;
  left: 0;
  -webkit-transition: opacity 3s, left 2s;
  transition: opacity 3s, left 2s;
}

.container-fluid .banner_img .main-navigation .inner_box .ul_box {
  background-color: #fffcf8;
  letter-spacing: 3px;
  list-style-type: none;
  position: absolute;
  top: -15.2rem;
  left: 10.3%;
  padding: 13% 90% 13.7% 35%;
  line-height: 100px;
  margin-bottom: 0;
  white-space: nowrap;
}

.container-fluid .banner_img .main-navigation .inner_box .ul_box a {
  color: #775254;
}

.container-fluid .banner_img .main-navigation .inner_box .nav_img {
  background-image: url("./img/navbar.jpg");
  background-size: cover;
  position: absolute;
  top: -15.2rem;
  left: 133.7%;
  width: 56%;
  height: 80.5vh;
}

.container-fluid .banner_img .main-navigation .toggle_button {
  position: absolute;
  z-index: 3;
  left: 3.7%;
  top: -75px;
}

.container-fluid .banner_img .main-navigation .toggle_button .circle {
  border: 2.5px solid #aa7374;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 25% 0 0 30%;
}

.container-fluid .banner_img .main-navigation .toggle_button .line {
  border-top: 2.5px solid #aa7374;
  width: 3rem;
  margin: 30% 0;
}

.container-fluid .banner_img img {
  width: 6%;
  position: absolute;
  -webkit-transform: translate(-35%, -390%);
          transform: translate(-35%, -390%);
  right: 0;
}

.container-fluid .banner_img h1 {
  position: absolute;
  top: 43%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f9ebdc;
  width: 16%;
  height: 10vh;
  text-align: center;
  font-family: "Tangerine", cursive;
  color: #775254;
  font-size: 70px;
  padding: 5px 0;
}

.container-fluid .banner_img p {
  text-align: center;
  font-family: "Tangerine", cursive;
  color: #775254;
  font-size: 35px;
  letter-spacing: 2px;
  width: 50%;
  position: absolute;
  top: 36%;
  left: 40%;
}

.section {
  background-image: url("./img/06.jpg");
  background-color: #fcf5f5;
}

.section .container {
  height: 80vh;
  position: relative;
}

.section .container .img_box .photo {
  background-image: url(./img/02.jpg);
  background-size: cover;
  width: 300px;
  height: 400px;
  position: absolute;
  -webkit-transform: translate(30%, 40%);
          transform: translate(30%, 40%);
  z-index: 100;
}

.section .container .img_box .bg {
  background-color: #bfd8d2;
  width: 300px;
  height: 400px;
  -webkit-transform: translate(10%, 50%);
          transform: translate(10%, 50%);
}

.section .container .content_box {
  position: absolute;
  width: 100%;
  right: 0;
}

.section .container .content_box .text {
  font-family: "Tangerine", cursive;
  color: #775254;
  font-size: 30px;
  letter-spacing: 2px;
  -webkit-transform: translate(33.5%, 85%);
          transform: translate(33.5%, 85%);
  text-align: justify;
  background-color: #ffebeb;
  padding: 10px 0 10px 60px;
}

.section .container .content_box .text h1 {
  color: 40px;
}

.section .container .content_box .btn {
  -webkit-transform: translate(730%, 580%);
          transform: translate(730%, 580%);
  color: white;
  font-family: "Tangerine", cursive;
  font-size: 25px;
}

.section .container .content_box #exampleModalLong1 {
  font-family: "Tangerine", cursive;
  color: #775254;
  font-size: 28px;
  letter-spacing: 2px;
  text-align: justify;
}

.section .container .content_box #exampleModalLong1 #exampleModalLongTitle {
  font-size: 35px;
}

.section1 {
  background-color: #fcf5f5;
  background-image: url("./img/06.jpg");
}

.section1 .container {
  height: 80vh;
  position: relative;
}

.section1 .container .img_box {
  -webkit-transform: translate(-75%, 0%);
          transform: translate(-75%, 0%);
}

.section1 .container .img_box .photo {
  background-image: url(./img/03.jpg);
  width: 300px;
  height: 400px;
  position: absolute;
  -webkit-transform: translate(23.5%, 40%);
          transform: translate(23.5%, 40%);
  z-index: 100;
  background-size: cover;
}

.section1 .container .img_box .bg {
  background-color: #bfd8d2;
  width: 300px;
  height: 400px;
  -webkit-transform: translate(45%, 50%);
          transform: translate(45%, 50%);
}

.section1 .container .content_box {
  position: absolute;
  width: 100%;
  left: 0;
}

.section1 .container .content_box .text {
  font-family: "Tangerine", cursive;
  color: #775254;
  font-size: 35px;
  letter-spacing: 2px;
  -webkit-transform: translate(-40%, 80%);
          transform: translate(-40%, 80%);
  text-align: justify;
  background-color: #ffebeb;
  padding: 10px 0 10px 550px;
}

.section1 .container .content_box .btn {
  -webkit-transform: translate(70%, 580%);
          transform: translate(70%, 580%);
  color: white;
  font-family: "Tangerine", cursive;
  font-size: 25px;
}

.section1 .container .content_box #exampleModalLong2 {
  font-family: "Tangerine", cursive;
  color: #775254;
  font-size: 28px;
  letter-spacing: 2px;
  text-align: justify;
}

.section2 {
  background-color: #fcf5f5;
  background-image: url("./img/06.jpg");
}

.section2 .container {
  background-color: #fcf5f5;
  background-image: url("./img/06.jpg");
  height: 80vh;
  position: relative;
}

.section2 .container .img_box .photo {
  background-image: url(./img/04.jpg);
  background-size: cover;
  width: 300px;
  height: 400px;
  position: absolute;
  -webkit-transform: translate(30%, 40%);
          transform: translate(30%, 40%);
  z-index: 100;
}

.section2 .container .img_box .bg {
  background-color: #bfd8d2;
  width: 300px;
  height: 400px;
  -webkit-transform: translate(10%, 50%);
          transform: translate(10%, 50%);
}

.section2 .container .content_box {
  position: absolute;
  width: 100%;
  right: 0;
}

.section2 .container .content_box .text {
  font-family: "Tangerine", cursive;
  color: #775254;
  font-size: 30px;
  letter-spacing: 2px;
  -webkit-transform: translate(33%, 80%);
          transform: translate(33%, 80%);
  text-align: justify;
  background-color: #ffebeb;
  padding: 10px 0 10px 40px;
}

.section2 .container .content_box .text h1 {
  color: 40px;
}

.section2 .container .content_box .btn {
  -webkit-transform: translate(570%, 560%);
          transform: translate(570%, 560%);
  color: white;
  font-family: "Tangerine", cursive;
  font-size: 25px;
}

.section2 .container .content_box #exampleModalLong3 {
  font-family: "Tangerine", cursive;
  color: #775254;
  font-size: 28px;
  letter-spacing: 2px;
  text-align: justify;
}

.container-fluid1 {
  background-image: url(./img/05.jpg);
  position: relative;
  width: 100%;
  height: 52vh;
}

.container-fluid1 p {
  margin: 0;
  font-family: "Tangerine", cursive;
  font-size: 25px;
  color: #775254;
  text-align: center;
  letter-spacing: 1px;
  position: absolute;
  -webkit-transform: translate(100%, 540%);
          transform: translate(100%, 540%);
}
/*# sourceMappingURL=分頁三.css.map */